//colors
$body-color: #444;
$body-backgr: white;

$a-color: #1bb1dc;
$a-hover-color: #0a98c0;

$a-social-color: #535074;

$a-footer-color: #0b3cb3;

$to-top-btn-color: white;

$border-color: #f2f2f2;
$shadow1-color: rgba(127, 137, 161, 0.3);
$shadow2-color:rgba(68, 88, 144, 0.1);

$nav-a-color: #413e66;
$drop-down-color:#065e77;

$mobile-nav-backgr:rgba(40, 38, 70, 0.8);
$mobile-nav-hover: #8dc2fa;

$header-color: #923383;
$sub-header1-color:#535074;
$sub-header2-color: #0981C1;

$intro-header-color: #10449f;
$intro-sub-header-color: #014068;


$section-blue-backgr:rgba(141, 194, 250, 0.42);
$section-bg-backgr: #f3f8fd;
$counter-color: #8a87b6;

$extra-sch-date-color: #999;
$study-btn-color: #5f5b96;
$photo-link-hover-color:#42c3e8;
$photo-wrap-hover-color:#282646;

// font-family
$body-font-family:"Open Sans", sans-serif;
$header-font-family:"Montserrat", sans-serif;

$header-font-weight: 400;

//animation

